
{% extends 'loggedin_base.html' %}

{% block main_content %}

<div class="container">
    <div class="row">
    <div class="tile col-md-10 col-md-offset-1">

        <div class="dark-header">
            Controlled Instances
            <!-- Drop-down with add key and add instance options? -->
            <a class="pull-right" href="#"><i class="fa fa-plus-square-o"></i> Add Key</a>
        </div>
        <div class="dark-body">
            test
        </div>
    </div>
    </div>
</div>

{% endblock %}