
{% extends 'base.html' %}

{% block main_content %}

    <br />
    <br />
    <section id="content" class="container">
    <div class="row">
    <section id="login" class="col-md-8 col-md-offset-2">
        <form class="box tile animated active" id="box-login" action="/login/" method="post">
            {% csrf_token %}

            {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}

            <input type="text" class="login-control m-b-10" name="username" value="{{ username}}" placeholder="Username"/><br />
            <input type="password" class="login-control" name="password" value="" placeholder="Password"/><br />
            <br />
            <input type="submit" class="btn btn-sm m-r-5" value="Log In" />

            {% if state %}
                <br />
                <br />
                <p>{{ state }}</p>
            {% endif %}
        </form>
    </section>
    </div>
    </section>


{% endblock %}