
<div class="block-area" id="title">
    <nav class="navbar navbar-defaults">
        <div class="container-fluid tile box">
            <div class="navbar-header col-md-12 padded5">
                <span class="pull-left big-text">XZantherOS</span>

{#                <span class="btn btn-sm btn-alt m-r-5"><a href="{% url 'test' %}">Test</a></span>#}
                <span class="btn btn-sm btn-alt m-r-5 pull-right"><a href="{% url 'logout' %}" >Logout</a></span>
            </div>
        </div>
    </nav>
</div>